@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
    background-color:#F2F2F2 ;
}
.nav-item a:hover{
    background-color: #ee7c4b;
    border-radius: 5px;
}


#username{
    color: #3c3c3c;
    font-size: 15px;  
}
#head-top a{
    color: #3c3c3c;  
   
}
#head-top{
    background-color: ;
   
}
/* ============================ADMIN============================================== */
#admin {
    /* text-decoration: none; */
    text-shadow:1px 1px 1px #ee7c4b;
    margin: 8px 0 0 0;
}


/* ============================ADMIN==End============================================ */



/* --------------------------------------------------- */
#user-area{
border-radius: 6px;
border: 1px grey solid;
height: 22px;
margin: 8px 5px 8px 0;


}
#pass-area{
border-radius: 6px;
border: 1px grey solid;
height: 22px;
margin: 8px 5px 8px 0;
}
#user-login{
    color: black;
    border-radius: 6px;
    height: 22px;
    margin: 8px 5px 8px 0;
   font-size: 12px;
   text-align: center;
   border: 1px grey solid;
}
.sign{
    color: white;
    text-decoration: none;
}
.alert-message{
    font-size: 14px;
     color: red;
     margin: 8px 5px 0 0;
}

/* ..................................................... */
 #menu-cat{
    text-transform: uppercase;
    margin-left: 110px;
    font-size: 14px;
    
}
#margin-right{
    margin-right: 310px;
}

 /* .....................................................  */
 #center-img{
    height: 58rem;
    background-image: url("images/23.jpg");
    background-position: 25% 75%;
 }

 #center-title{
    color: #F2F2F2;
    text-transform: uppercase;
    padding-left: 18rem;
 
    font-size: 4rem;
    font-family: 'Archivo Black', sans-serif;
 }
 #center-img button{
    margin-left: 18rem;
    font-family: 'Source Sans Pro', sans-serif; 
 }
 #small-text{
    padding-top: 25rem;
    margin-left: 18rem;
    font-family: 'Source Sans Pro', sans-serif; 
    color: #f5f5f5;
 }
 #book-btn a{
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif; 
    color: #232323;
    font-size: 15px;
 }
 
 /* ---------------------------------------------------------- */
#push-right{
    margin-right: auto;
    display: flex;
}

/* ............................................................ */
#college{
    padding: 100px;
}
/* ------------------------------tent------------------------------------------------- */
#tent-top{
background-image: url(images/12.jpg);
height: 500px;
background-position: 25% 35%;
}
#title{
    text-align: center;
    margin: 40px 0 40px 0;
    font-family: 'Poppins', sans-serif;
}
#tent-p{
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: large;
    margin: 40px 0 100px 0;
}
.list-group-item{
    background-color:#F2F2F2 ;
}
#list{
    margin: 16px 0 10px 0;
}

#carousel-img{
    height: 400px;
}
#bookt-btn{
    float: right;
    margin: 0 30px 0 0;
}
.list-group {
    margin-top: 52px;
}

/* -------------------------------end tent------------------------------------------------ */

  /* -------------------------------footer--------------------------- */

  .bg-grey {
    background: #292929;
 }
 .logo-footer {
    margin-bottom: 40px;
 }
 footer {
    display: flex;
    color: grey;
 }
 footer p, a {
font-size: 12px;
font-family: 'Roboto', sans-serif;
}
footer h6 {
font-family: 'Playfair Display', serif;
margin-bottom: 40px;
position: relative;
}
footer h6:after {
position: absolute;
content: "";
background: grey;
width: 12%;
height: 1px;
left: 0;
bottom: -20px;
}
 .btn-footer {
             color: grey;
          
            text-decoration: none;
            border: 1px solid;
            border-radius: 43px;
            font-size: 13px;
            padding: 7px 30px;
            line-height: 47px;
 }
 .btn-footer:hover {
            
            text-decoration: none;
           
 }
.form-footer input[type="text"] {
    border: none;
border-radius: 16px 0 0 16px;
outline: none;
padding-left: 10px;

}
::placeholder {
font-size: 10px;
padding-left: 10px;
font-style: italic;
}
.form-footer input[type="button"] {
border: none;
background:#232323;
    margin-left: -5px;
color: #fff;
outline: none;
border-radius: 0 16px 16px 0;
padding: 2px 12px;
}
 .social .fa {
color: grey;
font-size: 22px;
padding: 10px 15px;
background: #3c3c3c;
}
 footer ul li {
list-style: none;
display: block;
}
footer ul  {
padding-left: 0;
}
footer ul  li a{
text-decoration: none;
color: grey;
text-decoration:none;
}
a:hover {
text-decoration: none;
color: #f5f5f5 !important;

}
.logo-part {
border-right: 1px solid grey;
height: 100%;
}

/* Credit to https://bootsnipp.com/snippets/M56El  */ 