
body{
    background-color:#EAEDED ;
}

#head-top {
    background-color: #131921;
   
}
/* --------------------------------------------------- */
#user-area{
border-radius: 6px;
height: 26px;
margin: 8px 5px 8px 0;

}
#pass-area{
border-radius: 6px;
height: 26px;
margin: 8px 5px 8px 0;
}
#user-login{
    color: black;
    border-radius: 6px;
    height: 26px;
    margin: 8px 5px 8px 0;
   font-size: 12px;
   text-align: center;
}
.sign{
    color: white;
    text-decoration: none;
}

/* ..................................................... */
#head-down {
    background-color: #232F3E;
    
}
.nav-link{
    color: white;
    
 }
 #search-input{
   padding-right: 700px;
  
 }
 .d-flex{
    margin-right: 220px;
 }
 .carousel-item img{
max-height: 700px;
 }
 /* .....................................................  */
 #card-cat{
    float: left;
    margin-left: 76px;
    margin-top: -260px;
    border-radius: 8px;
   
 }
 #card-item{
    float: left;  
    border-radius: 8px;
    margin: 30px 0 30px 0;
 
   
 }
 .card img{
 width: 190px;
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 50%;

 }
 .card-title {
    text-align: center;
 }
.card a{
    float:right
}
.card a:link,
      a:visited,
      a:focus {
        background: palegoldenrod;
      
        }
 .card a:hover {
    background: rgb(214, 141, 6);
  }

  .card a:active {
    background: rgb(44, 8, 8);
    color: white;
  }
 /* ---------------------------------------------------------- */
#push-right{
    margin-right: auto;
    display: flex;
}

/* ............................................................ */
#college{
    padding: 100px;
}

  /* ---------------------------------------------------------- */

  .bg-grey {
    background: #292929;
 }
 .logo-footer {
    margin-bottom: 40px;
 }
 footer {
    display: flex;
    color: grey;
 }
 footer p, a {
font-size: 12px;
font-family: 'Roboto', sans-serif;
}
footer h6 {
font-family: 'Playfair Display', serif;
margin-bottom: 40px;
position: relative;
}
footer h6:after {
position: absolute;
content: "";
background: grey;
width: 12%;
height: 1px;
left: 0;
bottom: -20px;
}
 .btn-footer {
             color: grey;
          
            text-decoration: none;
            border: 1px solid;
            border-radius: 43px;
            font-size: 13px;
            padding: 7px 30px;
            line-height: 47px;
 }
 .btn-footer:hover {
            
            text-decoration: none;
           
 }
.form-footer input[type="text"] {
    border: none;
border-radius: 16px 0 0 16px;
outline: none;
padding-left: 10px;

}
::placeholder {
font-size: 10px;
padding-left: 10px;
font-style: italic;
}
.form-footer input[type="button"] {
border: none;
background:#232323;
    margin-left: -5px;
color: #fff;
outline: none;
border-radius: 0 16px 16px 0;
padding: 2px 12px;
}
 .social .fa {
color: grey;
font-size: 22px;
padding: 10px 15px;
background: #3c3c3c;
}
 footer ul li {
list-style: none;
display: block;
}
footer ul  {
padding-left: 0;
}
footer ul  li a{
text-decoration: none;
color: grey;
text-decoration:none;
}
a:hover {
text-decoration: none;
color: #f5f5f5 !important;

}
.logo-part {
border-right: 1px solid grey;
height: 100%;
}

/* Credit to https://bootsnipp.com/snippets/M56El  */ 